<!-- http://teamtreehouse.com/library/build-a-simple-ruby-on-rails-application/building-the-profile-page/testing-the-profiles-controller-2 -->

<%= profile_pic_link @user, {} %>
<label>Favourite Book:</label>
<%= @user.favourite_book %>

<h1><%= @user.profile_name %></h1>

<!-- Show button if user is on a profile page that is not their own and if the user is not already their friend -->
<% if @user.id != current_user.id %>
    <!-- http://teamtreehouse.com/library/building-social-features-in-ruby-on-rails-2/building-the-friendship-ui/creating-the-friendship-form -->
    <%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: "btn" %>
<% end %>


<% if @updates %>
    <h1>Updates</h1>
    <% @updates.each do |update| %>
        <div>
          <%= update.content %>
        </div>
    <% end %>
<% end %>

<% if @books %>
    <h1>Books</h1>
    <% @books.each do |book| %>
        <% if !book.for_sale %>
        <div>
          <%= book.title %>
        </div>
        <% elsif book.for_sale %>
            <h1>Books For Sale</h1>
            <%= book.title %>
            <%= number_to_currency(book.price, :unit => "&#8364;") %>
            <a href="/cart/<%= book.id %>">Add to Cart</a><br><br>
        <% end %>
    <% end %>
    <!--<h1>Books For Sale</h1>-->
    <!--<#% @books_for_sale.each do |book| %>-->
        <!--<div>-->
          <!--<#%= book.title %>-->
        <!--</div>-->
    <!--<#% end %>-->
<% end %>

<% if @book_lists %>
    <h1>Lists</h1>
    <% @book_lists.each do |list| %>
        <div>
          <h3><%= list.title %></h3>
          <% list.books.each do |book| %>
            <%= book.title %>
          <% end %>
        </div>
    <% end %>
<% end %>

<% if @reviews %>
    <h1>Reviews</h1>
    <% @reviews.each do |review| %>
        <div>
          <%= review.book.title %> | <%= review.title %> | <%= review.rating %>
        </div>
    <% end %>
<% end %>

<% if @friends %>
    <h1>Friends</h1>
    <% @friends.each do |f| %>
        <div>
          <%= f.friend.profile_name %>
        </div>
    <% end %>
<% end %>