<p id="notice"><%= notice %></p>

<!-- https://gist.github.com/arelenglish/6110438 -->

<p>
  <strong>Title:</strong>
  <%= @book_list.title %>
</p>

<p>
  <strong>Books</strong><br />
    <% @book_list.book_list_items.each do |item| %>
        <%= item.book.title %><br />
    <% end %>
</p>

<% if current_user.id == @book_list.user.id %>
    <strong>Add Book</strong>
    <%= form_for(@book_list) do |f| %>
        <%= f.collection_select 'book_ids', Book.all, :id, :title, { include_blank: "" } %>
        <%= f.submit %>
    <% end %>
<% end %>

<%= comments_for @book_list %>

<% if current_user.admin %>
    <%= link_to 'Edit', edit_book_list_path(@book_list) %> |
<% end %>
<%= link_to 'Back', book_lists_path %>
