<h1>Books</h1>
<%= link_to 'New Book', new_book_path %>

<table>
  <tr>
    <th>Cover Image</th>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Isbn</th>
    <th>Publisher</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= image_tag book.cover_image(:small) %></td>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.genre %></td>
    <td><%= book.ISBN %></td>
    <td><%= book.publisher %></td>
    <td><%= book.description %></td>
    <td><%= link_to 'Show', book %></td>

    <% if current_user.id === book.user.id %>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <% end %>
    <% if current_user && current_user.admin %>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
