<p id="notice"><%= notice %></p>

<p>
  <b>Cover Image:</b>
  <%= image_tag @book.cover_image %>
</p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Genre:</b>
  <%= @book.genre %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.ISBN %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>

<p>
  <b>Comments:</b>
  <%= comments_for @book %>
</p>

<!--<p>-->
  <!--<strong>Lists:</strong><br />-->
  <!--<#% @book.book_list_items.each do |item| %>-->
    <!--<#%= BookList.find(item.book_list_id).title %><br />-->
  <!--<#% end %>-->
<!--</p>-->

<p>
  <h1>Add To List</h1>
  <%= form_for(@book) do |f| %>
    <%= f.collection_select 'book_list_ids', current_user.book_lists.all, :id, :title, { include_blank: "" } %>
    <%= f.submit %>
  <% end %>
</p>

<% if @reviews %>
  <div>
    <h1>Reviews</h1>
    <% @reviews.each do |review| %>
        <%= link_to "#{review.title}", review_path(review) %>
    <% end %>
  </div>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
