<p id="notice"><%= notice %></p>

<p>
  <%= profile_pic_link @update.user, {} %>
</p>

<p>
  <b>Name:</b>
  <%= @update.user.profile_name %>
</p>

<p>
  <b>Content:</b>
  <%= @update.content %>
</p>

<%= comments_for @update %>

<% if current_user.admin %>
    <%= link_to 'Edit', edit_update_path(@update) %> |
<% end %>
<%= link_to 'Back', updates_path %>
