<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @update.user.profile_name %>
</p>

<p>
  <b>Content:</b>
  <%= @update.content %>
</p>


<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>
