<h1>Reviews</h1>
<%= link_to 'New Review', new_review_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.title %></td>
    <td><%= review.content %></td>
    <td><%= review.rating %></td>
    <td><%= link_to 'Show', review %></td>
    <% if current_user.id == review.user.id %>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
    <% end %>
    <% if current_user && current_user.admin %>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
  <tr>
    <td><%= comments_for review %></td>
  </tr>
<% end %>
</table>
