<div class="well">

<h1>Reviews</h1>
<%= link_to 'New Review', new_review_path, :class => "btn btn-primary" %>

</div>


<% @reviews.each do |review| %>

    <div class="well">

    <h4>
        <%= review.title %>
    </h4>
    <p>Content:</p>
    <%= review.content %>
    <p>Rating: <%= review.rating %></p>

    <%= link_to 'Show', review %>
    <% if current_user.id == review.user_id || current_user.admin %>
        <%= link_to 'Edit', edit_review_path(review) %>
    <% end %>
    <% if current_user && current_user.admin %>
        <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  
  
    <%= comments_for review %>

    </div>
<% end %>


</div>