<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <span class="navbar-brand"><%= link_to "Library", root_path %></li></span>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if !current_user %>
              <li><%= link_to "Register", new_user_registration_path %></li>
              <li><%= link_to "Log In", new_user_session_path %></li>
          <% end %>
          <% if current_user %>
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "My Page", profile_path(current_user) %></li>
              <li><%= link_to "Updates", updates_path %></li>
              <li><%= link_to "Books", books_path %></li>
              <li><%= link_to "Lists", book_lists_path %></li>
              <li><%= link_to "Reviews", reviews_path %></li>
              <li><%= link_to "Friends", user_friendships_path %></li>
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <!-- http://teamtreehouse.com/library/build-a-simple-ruby-on-rails-application/designing-urls/refactoring-the-flash-code -->
    <div class="container">
      <% flash.each do |type, message| %>
        <div class="alert <%= flash_class type %>">
          <button class="close" data-dismiss="alert">x</button>
          <%= message %>
        </div>
      <% end %>
    </div>

<%= yield %>

</body>
</html>
