<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <h1>Library App</h1>
    <menu label="menu">
        <li><%= link_to "Register", new_user_registration_path %></li>
        <li><%= link_to "Log In", new_user_session_path %></li>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "Updates", updates_path %></li>
        <li><%= link_to "Books", books_path %></li>
    </menu>

    <!-- http://teamtreehouse.com/library/build-a-simple-ruby-on-rails-application/designing-urls/refactoring-the-flash-code -->
    <div class="container">
      <% flash.each do |type, message| %>
        <div class="alert <%= flash_class type %>">
          <button class="close" data-dismiss="alert">x</button>
          <%= message %>
        </div>
      <% end %>
    </div>

<%= yield %>

</body>
</html>
